extends layout

block content
    div.row
        div.col-xs-10
            h1= title
            h2 Welcome back #{user.firstName}
            p View your portfolio: 
                a(href="#{user.portfolioURL}" target="_blank") #{user.portfolioURL}
        div.col-xs-2.center
            a(href="/logout")
                button Log out
            img(src="#{user.profilePicture}" alt="#{user.firstName}" id="profilePicture" class="img-circle")
            a(href="/admin/settings/changeProfilePicture")
                button Change Profile Picture
    div.row
        div.col-md-6
            h3 Upload Media
            form(id="uploadMedia" method="post" action="/admin/uploadMedia" enctype="multipart/form-data")
                input(type="file" name="mediaItem")
                label(for="mediaItemTitle") Title:
                input(type="text" id="mediaItemTitle" name="mediaItemTitle")
                input(type="submit" name="Upload")
