extends layout

block content
    script(src="/javascripts/lightbox.min.js")
    script(src="/javascripts/portfolioScript.js")
    
    div.row
        div.col-md-12
            h1= title
            
    div.tabs(id="portfolioPagesTabs")
        ul
            li
                a(href="#home") Home
            li
                a(href="#contact") Contact
        div#home
            if mediaItems.length == 0
                h3.noMediaItems This user does not yet have any media items uploaded
                    br
                    |See their contact page for further details, or call back soon :)
            else
                div.row 
                    div.col-md-4.col-xs-12
                        if categories
                            if categories.length > 0
                                select(id="portfolioCategory")
                                    option(class="category" value="all") -All Categories-
                                    -for(var i = 0; i < categories.length; i++)
                                        option(class="category" value="#{categories[i]}") #{categories[i]}
                div.row 
                -for(var i = 0; i < mediaItems.length; i++)
                    div.col-md-4.col-xs-12
                        figure(data-category="#{mediaItems[i].category}")
                            if(mediaItems[i].mediaType == 'image')
                                a(class='' href='#{mediaItems[i].filePath}' data-lightbox='image-set' data-title='#{mediaItems[i].fileTitle}')
                                    img(src='#{mediaItems[i].filePath}' alt='Alt Text' class='thumbnail')
                            else if(mediaItems[i].mediaType == 'swf')
                                div.objectContainer
                                    object.relative(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="100%")
                                        param(name='movie' value='#{mediaItems[i].filePath}')
                                        param(name='quality' value='high')
                                        param(name='scale' value='default')
                                        embed(src='#{mediaItems[i].filePath}' quality="high" type='#{mediaItems[i].file.mimetype}' width='100%' height='100%' scale="default" pluginspage="http://www.macromedia.com/go/getflashplayer")
                                    div(class="flashUnavailable").center
                                        span(class="glyphicon glyphicon-warning-sign" aria-hidden="true")
                                        br
                                        | Sorry, this flash file is not supported on your device
                            else if(mediaItems[i].mediaType == "video")
                                div.objectContainer
                                    video(controls)
                                        source(src='#{mediaItems[i].filePath}' type='#{mediaItems[i].file.mimetype}' volume="0")
                                            
                            figcaption #{mediaItems[i].fileTitle}
        div#contact
            div.row
                div.col-sm-6.col-xs-12
                    if contactPage.contactDetails.name
                        if contactPage.contactDetails.name.length > 0
                            div.row
                                div.col-xs-3
                                    label Name:
                                div.col-xs-9
                                    p #{contactPage.contactDetails.name}
                    if contactPage.contactDetails.email
                        if contactPage.contactDetails.email.length > 0
                            div.row
                                div.col-xs-3
                                    label Email: 
                                div.col-xs-9
                                    a(href="mailto:#{contactPage.contactDetails.email}") #{contactPage.contactDetails.email}
                    if contactPage.contactDetails.phone
                        if contactPage.contactDetails.phone.length > 0
                            div.row
                                div.col-xs-3
                                    label Phone: 
                                div.col-xs-9
                                    a(href="mailto:#{contactPage.contactDetails.phone}") #{contactPage.contactDetails.phone}
                    if contactPage.info
                        if contactPage.info.length > 0
                            hr
                            div.row
                                div.col-xs-12
                                    label Additional Information: 
                            div.row
                                div.col-xs-12
                                    p #{contactPage.info}
                if contactPage.picture
                    div.col-sm-6.col-xs-12
                        img(src="../#{contactPage.picture}" alt="#{contactPage.contactDetails.name}")